/* .page{
  height: 90vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity:90%;

} */
/* 
.page1{
  background-image: url(./assets/page3.jpg);
}
.page2{
  background-image: url(./assets/page2.jpg);
}
.page3{
  background-image: url(./assets/page1.jpg);
} */